<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Local</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="intro">
        <h1>Bem vindo à minha API construída com Spring boot</h1>
        <p>Me chamo heliel e em seguida, irei te explicar os detalhes das end-points da API e hospedagem do serviço</p>
    </div>
    <div class="endpoint">

    </div>
</body>

</html>